#btnUpdate,#btncalculate{
//-fx-background-color: #50EF8F;
    -fx-background-color: linear-gradient(from 82% 90% to 90% 90% , #fafafa, #77bff9);
}#btnUpdate:hover,#btncalculate:hover{
 //-fx-background-color: #50EF8F;
     -fx-background-color: linear-gradient(from 82% 90% to 90% 90% , #fafafa, #3878a5);
}#btnUpdate:pressed,#btncalculate:pressed{
  //-fx-background-color: #50EF8F;
      -fx-background-color: linear-gradient(from 82% 90% to 90% 90% , #fafafa, #2a6186);
}
#btnAdd{
   //-fx-background-color: #50EF8F;
       -fx-background-color: linear-gradient(from 82% 90% to 90% 90% , #fafafa, #78ebfc);
}#btnAdd:hover{
    //-fx-background-color: #50EF8F;
        -fx-background-color: linear-gradient(from 82% 90% to 90% 90% , #fafafa, #11d7f3);
}#btnAdd:pressed{
    //-fx-background-color: #50EF8F;
         -fx-background-color: linear-gradient(from 82% 90% to 90% 90% , #fafafa, #027081);
 }
#btnDelete#btnfinish{
    -fx-background-color: linear-gradient(from 82% 90% to 90% 90% , #ffffff, #75b0ef);
}#btnDelete:hover,#btnfinish:hover{
     -fx-background-color: linear-gradient(from 82% 90% to 90% 90% , #ffffff, #5282b2);
 }#btnDelete:pressed#btnfinish:pressed{
      -fx-background-color: linear-gradient(from 82% 90% to 90% 90% , #ffffff, #316291);
  }
#btnClear,#btnBill{
//-fx-background-color: #F8EA6D;
    -fx-background-color: linear-gradient(from 82% 90% to 90% 90% , #ffffff, #02487f);
}#btnClear:hover,#btnBill:hover{
 //-fx-background-color: #F8EA6D;
     -fx-background-color: linear-gradient(from 82% 90% to 90% 90% , #ffffff, #0b3b60);
 }#btnClear:pressed,#btnBill:pressed{
  //-fx-background-color: #F8EA6D;
      -fx-background-color: linear-gradient(from 82% 90% to 90% 90% , #ffffff, #13334c);
  }

#btncalculate{
    -fx-background-color: linear-gradient(from 82% 90% to 90% 90% , #ffffff, #d181f3);
}#btncalculate:hover{
     -fx-background-color: linear-gradient(from 82% 90% to 90% 90% , #ffffff, #9353ae);
}#btncalculate:pressed{
      -fx-background-color: linear-gradient(from 82% 90% to 90% 90% , #ffffff, #8836ac);
}
#btndiplay{
    -fx-background-color: linear-gradient(from 82% 90% to 90% 90% , #ffffff, #d65cff);
}#btndiplay:hover{
     -fx-background-color: linear-gradient(from 82% 90% to 90% 90% , #ffffff, #961dc2);
}#btndiplay:pressed{
      -fx-background-color: linear-gradient(from 82% 90% to 90% 90% , #ffffff, #69018f);
}
#btnNew,#btnsearch{
    -fx-background-color: linear-gradient(from 82% 90% to 90% 90% , #ffffff, #ef4b4b);
}#btnNew:hover,#btnsearch :hover{
     -fx-background-color: linear-gradient(from 82% 90% to 90% 90% , #ffffff, #be1f1f);
}#btnNew:pressed,#btnsearch:pressed{
      -fx-background-color: linear-gradient(from 82% 90% to 90% 90% , #ffffff, #930202);
}

.dark {
    -fx-background-color:
            #090a0c,
            linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
            linear-gradient(#20262b, #191d22),
            radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 12px;
    -fx-padding: 10 20 10 20;
}